/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */
@font-face {
  font-family: 'MyWebFont';
  src: url('./fonts/serim___.ttf') format('truetype');

}

body {
  /* The image used */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'MyWebFont' , Fallback, sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  /* -webkit-transform: translate(-50%, -50%); */
}

body [class*="swal2-container"] {
  z-index: 9999;
}
